Repository da-fedin/start_with_pymapdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, flake8-nb

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: python -m nbconvert --ClearOutputPreprocessor.enabled=True --inplace

flake8-nb:
  name: flake8-nb
  entry: flake8_nb --ignore=E501,E703,E712,W503 --notebook-cell-format '{nb_path}:code_cell#{code_cell_count}' notebooks/
  language: system

notebooks reformatted
  Makefile
  commons/utils.py
  notebooks/notebook.ipynb
Due: jupyter-nb-clear-output, flake8-nb

autegeneration of py file from inp file
  .gitignore
  main.py
  notebooks/plate_with_holes.ipynb
  notebooks/simplest_session.ipynb
  sources/beam.inp
Due: jupyter-nb-clear-output, flake8-nb

dummy
  main.py
Due: flake8-nb

refactored
  main.py
  py_from_inp.py
Due: flake8-nb

extra notebook deleted
  notebooks/plate_with_holes.ipynb
  plate_with_holes.ipynb
Due: jupyter-nb-clear-output

apdl to pymapdl conversion
  py_from_apdl_block.py
Due: flake8-nb

dummy
  .idea/try_pyansys.iml
  py_from_verificationfile.py
  requirements.txt
Due: flake8-nb

dummy
  py_from_verificationfile.py
Due: flake8-nb

init
  notebooks/2D_Plane_Strain_model.ipynb
  notebooks/plate_with_holes.ipynb
Due: jupyter-nb-clear-output

init
  notebooks/2D_Plane_Strain_model.ipynb
  notebooks/lathe_cutter.ipynb
  requirements.txt
  sources/LatheCutter.anf
Due: jupyter-nb-clear-output

categories case added
  .pre-commit-config.yaml
  commons/__init__.py
  commons/utils.py
  notebooks/lathe_cutter.ipynb
Due: jupyter-nb-clear-output, flake8-nb

categories case described
  .pre-commit-config.yaml
  notebooks/lathe_cutter.ipynb
Due: jupyter-nb-clear-output

script removes files from tmp dir
  scripts/build.ps1
Due: none

dummy
  .pre-commit-config.yaml
  commons/__init__.py
  commons/utils.py
  notebooks/lathe_cutter.ipynb
  notebooks/plate_with_holes.ipynb
Due: jupyter-nb-clear-output, flake8-nb

before push
  Readme.md
  notebooks/plate_with_holes.ipynb
  notebooks/simplest_session.ipynb
Due: jupyter-nb-clear-output

add tmp dir (with no files) to git and remove idea
  .gitignore
Due: none

Update .gitignore and remove .idea/ files
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/try_pyansys.iml
  .idea/vcs.xml
Due: none

add tmp dir (with no files) to git and remove idea
  .gitignore
  commons/py_from_apdl_block.py
  commons/py_from_inp.py
  commons/py_from_verificationfile.py
  commons/utils.py
  notebooks/pool.ipynb
  notebooks/simplest_mapdl_session.ipynb
  notebooks/touch_screen.ipynb
Due: jupyter-nb-clear-output, flake8-nb

first pool realization
  notebooks/pool.ipynb
Due: jupyter-nb-clear-output

pool with existing point_set.csv file run
  notebooks/lathe_cutter.ipynb
  notebooks/pool.ipynb
  notebooks/touch_screen.ipynb
Due: jupyter-nb-clear-output

single function run without pool
  notebooks/pool.ipynb
Due: jupyter-nb-clear-output

mesh built and refined
  notebooks/lathe_cutter.ipynb
  notebooks/pool.ipynb
  notebooks/touch_screen.ipynb
Due: jupyter-nb-clear-output

pool
  notebooks/pool.ipynb
Due: jupyter-nb-clear-output

pool succeeded
  notebooks/pool.ipynb
Due: jupyter-nb-clear-output

pool described
  notebooks/pool.ipynb
Due: jupyter-nb-clear-output

touch screen problem described
  notebooks/touch_screen.ipynb
Due: jupyter-nb-clear-output

build script with tmp dir creation and deletion of content
  scripts/build.ps1
Due: none

init
  app.py
  app/lib/constants.py
  app/lib/pymapdl/bimetallic.py
  app/static/cylinder_use.png
  app/static/input_image.png
  app/static/style.css
  app/templates/inputpage.html
  requirements.txt
Due: flake8-nb

dummy
  app.py
  application/__init__.py
  application/lib/constants.py
  application/lib/pymapdl/bimetallic.py
  application/static/input_image.png
  application/static/style.css
  templates/input_page.html
Due: flake8-nb

env recreated
  app.py
Due: flake8-nb

flask run from cmd line works only
  Readme.md
  app/static/cylinder_use.png
  application/lib/constants.py
  application/static/cylinder_use.png
  requirements.txt
Due: flake8-nb

gitignore to ignore tmp app files
  .gitignore
Due: none

gitignore to ignore tmp app files2
  .gitignore
Due: none

Update template file
  templates/index.html
  templates/input_page.html
Due: none

template layout restructured
  .gitignore
  app.py
  application/lib/constants.py
  templates/index.html
Due: flake8-nb

static files mooved to root
  application/lib/constants.py
  static/cylinder_use.png
  static/input_image.png
  static/style.css
  templates/index.html
Due: flake8-nb

completed
  static/cylinder_use.png
  templates/index.html
Due: none

Readme.md fixed
  Readme.md
Due: none

init
  app.py
  application/__init__.py
  application/lib/pymapdl/bimetallic.py
  notebooks/simplest_mapdl_session.ipynb
  static/cylinder_use.png
Due: jupyter-nb-clear-output, flake8-nb

matterial definitions
  application/lib/pymapdl/bimetallic.py
Due: flake8-nb

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  flake8-nb: any of: \.py$
